<ion-view title="home">
  <ion-nav-view name="navbar"></ion-nav-view>
  <ion-header-bar align-title="center" class="bar-calm">
    <div class="buttons">
      <button class="button icon ion-navicon-round" ng-click="doSomething()"></button>
    </div>
    <h1 class="h1 title title-centre light">Home</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <img src='img/frenchie.jpg'></img>
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Your Dog's Name">{{vm.dogName}}
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
    </div>
  </ion-content>
</ion-view>
