<ion-view title="Home">
  <ion-content>
    <section>
      <div id="carousel-4" class="carousel-wrapper profile">
        <div class="content">
        <a-carousel carousel-options="::vm.carouselOptions4" array-provider="::vm.carouselData4" on-select="vm.onSelectCarousel(item)">
        </a-carousel>
      </div>
      <h3>
        <a class="light">{{vm.itemSelected.animalName}}</a>
      </h3>
      <h4>The {{vm.itemSelected.breed}}</h4>
      </div>
    </section>
    <div>

    </div>
    <!-- <div class="button-bar"><a class="button">1</a><a class="button">2</a><a class="button">3</a><a class="button">4</a></div> -->
    <div class="container animal-info">
        <h4>Name: {{vm.itemSelected.animalName}}</h4>
        <h4>Breed: {{vm.itemSelected.breed}}</h4>
        <h4>Weight: {{vm.itemSelected.weight}} as of</h4>
        <h4>Name: {{vm.itemSelected.animalName}}</h4>
        <h4>Name: {{vm.itemSelected.animalName}}</h4>
    </div>
  </ion-content>
</ion-view>
