<ion-view hide-back-button="true">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button icon ion-navicon-round" ng-click="doSomething()"></button>
    </div>
    <!-- <h1 class="h1 title title-centre light">Home</h1> -->
  </ion-header-bar>
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="main.home">
            <ion-nav-view name="home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="main.settings">
            <ion-nav-view name="settings"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Something" icon-on="ion-ios-paw" icon-off="ion-ios-paw-outline" ui-sref="main.something">
            <ion-nav-view name="something"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
