<!-- The title of the ion-view will be shown on the navbar -->
<ion-view view-title="Register">
  <ion-content>
    <!-- The content of the page -->
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="E-mail">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Confirm Password</span>
        <input type="password" placeholder="Password">
      </label>
    </div>
  </ion-content>
</ion-view>
