/* Empty. Add your own CSS if you like */

.card {
  width: 35%;
}
img {
  width: 100%;
  height: auto;
  align: middle;
}
.profile {
  height: 200px;
}
.button-container {
  height: 50%;
}
.button-container .col-50 {
  text-align: center;
}
.button-container button {
  height: 100px;
  width: 100px;
}

.profile-container {
  position: relative;
  width: 140px;
}

.mask {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  height: 150px;
  width: 100%;
  background: radial-gradient(circle, transparent 60px, white 60px);
}
img {
  height: 150px;
  width: auto;
}
